dependencies/include/* linguist-vendored=true
dependencies/include/GLFW/* linguist-vendored=true
dependencies/include/freetype/* linguist-vendored=true
dependencies/include/freetype/config/* linguist-vendored=true
dependencies/include/freetype/internal/* linguist-vendored=true
dependencies/include/freetype/internal/services/* linguist-vendored=true
dependencies/include/KHR/* linguist-vendored=true
