dependencies/include/** linguist-vendored
dependencies/include/GLFW/** linguist-vendored
dependencies/include/freetype/** linguist-vendored
dependencies/include/freetype/config/** linguist-vendored
dependencies/include/freetype/internal/** linguist-vendored
dependencies/include/freetype/internal/services/** linguist-vendored
dependencies/include/KHR/** linguist-vendored
